<app-bread-crump
[itens]="[{text: 'Categorias'}]">
</app-bread-crump>

<app-page-header
page-title="Categorias"
button-text="Nova Categoria"
button-link="new"
button-class="btn-success"
></app-page-header>

<table class="table hover ml-2 mr-2">
  <thead>
    <tr class="bg-primary text-light">
      <th>Categoria</th>
      <th style="text-align: right; padding-right: 50px;" >Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let category of resources">
      <td>
        <strong>{{category.name}}</strong><br>
        <small>{{category.description}}</small>
      </td>
      <td style="text-align: right;">
        <a [routerLink]="[category.id, 'edit']" class="btn btn-outline-info btn-sm mr-1">Editar</a>
        <button (click)="delete(category)" class="btn btn-outline-danger btn-sm">Excluir</button>
      </td>
    </tr>
  </tbody>
</table>
