<mat-sidenav-container class="sidenav-container" >
  <mat-sidenav id="sidebar" #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <h2>$uas Finança$</h2>
    </mat-toolbar>

    <mat-nav-list>
      <a mat-list-item routerLink="/reports"><span class="fa fa-gift mr-3"></span>Relatórios</a>
      <a mat-list-item routerLink="/entries"><span class="fa fa-trophy mr-3"></span>Lançamentos</a>
      <a mat-list-item routerLink="/categories"><span class="fa fa-support mr-3"></span>Categorias</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span></span>
    </mat-toolbar>
    <ng-component></ng-component>
  </mat-sidenav-content>
</mat-sidenav-container>
